/* Universal Styles */


/* latin open sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}



html {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: rgb(70,70,70);
  background-color: rgb(238,238,238);
}

.sub-article.image {
  width: 35%;
  padding: 1rem;
}

.sub-article.image img {
  width: 100%;
}

.sub-article.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.sub-article.copy h4 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.sub-article.copy p {
  padding-bottom: 1rem;
}

.sub-article.copy a {
  text-decoration: none;
  color: rgb(0, 133, 255);
  font-weight: 600;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgb(161,145,145);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3.2rem;
  padding-right: 0.2rem;
}

.logo span {
  font-size: 1.5rem;
}

#colmar {
  font-weight: normal;
  color: Black;
}

.logo em {
  color: white;
  font-weight: normal;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding-left: 1rem;
  color: white;
  font-weight: 300;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile {
    display: inline-block;
    width: 100%;
  }
  .mobile ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  Header {
    background-color: white;
  }

}


/*banner*/

.banner {
  display: flex;
  background-color: silver;
  width: 0 auto;
}

.banner-image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-image img {
  width: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.cta-box {
  width: 80%;
}

.cta h2 {
  font-size: 2.8rem;
  padding-bottom: 2rem;
  font-weight: 700;

}

.cta h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.2;
}

.button {
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
  display: block;
  background-color: rgb(70,70,70);
  text-align: center;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-wrap: wrap;
  }
  .banner-image {
    width: 100%;
    margin: 0;
  }
  .cta {
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

/*academy info*/

.academy.articles {
  display: flex;
  width: 0 auto;
}

.academy.main {
  width: 60%;
  padding: 2rem 2rem 3rem 2rem;
  border-right: solid 1px silver;
}

.academy-image img {
  width: 100%;
  padding-bottom: 2rem;
}

.academy.main .copy {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.academy.main .copy h2 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.academy.main .copy p {
  padding-bottom: 1.5rem;
  line-height: 1.4;
}

.academy.main .copy span {
  font-size: 0.85rem;
  font-family: helvetica;
  color: Black;
}

.academy.sub-articles {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 40%;
}

.academy.sub {
  display: flex;
}

.academy.sub.orientation {
  border-bottom: solid 3px silver;
}

.academy.sub.lecturer {
  background-color: silver;
  border-right: solid 0.5rem white;
}

.sub-mobile {
  display: none;
}


@media only screen and (max-width: 480px) {
  .academy.main {
    display: none;
  }
  .academy.sub-articles {
    width: 100%;
  }
  .academy.sub {
    flex-direction: column;
    width: 100%;
  }
  .sub-article.image img {
    display: none;
  }
  .sub-article.image {
    width: 90%;
    padding: 1;
  }
  .sub-article.image .sub-mobile {
    display: block;
  }
  .cta h2 {
    font-size: 2rem;
  }
  .cta h4 {
    font-size: 1.2rem;
  }
  .sub-article.copy {
    width: 90%;
    padding: 1rem;
  }
  .academy.sub.lecturer {
    background-color: rgb(238,238,238);
    border-right: none;
  }
  .academy.sub.orientation {
    border-bottom: none;
  }
}

/*course info section*/

.course-info {
  background-color: silver;
}

.course-info h2 {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.course.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3.5rem;
  justify-content: center;
  padding-bottom: 1rem;

}

.course.item {
  width: 25%;
  margin: 1rem;
  background-color: white;
}

.course.item img {
  width: 100%;
}

.course.item .course.copy {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.course.copy {
  font-weight: 300;
}

.course.copy h4 {
  color: rgb(70,70,70);
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.course.copy span {
  display: block;
  padding-bottom: 1rem;
}

.course.copy p {
line-height: 1.2;
}

.mobile-item {
  display: none;
}

@media only screen and (max-width: 480px) {
  .course.item {
    display: none;
  }
  .course-info {
    background-color: white;

  }
  .mobile-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .mobile-item span {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    background-color: rgb(238,238,238);
    color: rgb(70,70,70);
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .course-info {
    padding-bottom: 2rem;
  }

}


/*thesis info section*/

.thesis.info {
  margin-bottom: 2rem;
}

#headline {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

.thesis.articles {
  display: flex;
  width: 0 auto;
}

.thesis.main {
  width: 60%;
  margin: 0 1.5rem 1.5rem 2rem;
}

.thesis.main video {
  width: 100%;
}

.thesis.sub.design {
  background-color: silver;
  border-right: solid 0.5rem white;
}

.thesis.copy h2 {
  font-size: 1.6rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.thesis.sub-articles {
  width: 40%;
}

.thesis.sub {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .thesis.main .thesis.copy {
    display: none;
  }
  .thesis.sub-articles {
    display: none;
  }
  .thesis.main {
    width: 100%;
    margin: 0;
  }
  .thesis.info {
    margin-bottom: 0;
  }
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 4rem;
  border-top: solid 1px silver;
  font-size: 0.8rem;
  font-weight: 300;
}

#terms span {
  padding-left: 1rem;
}


@media only screen and (max-width: 480px) {
  #terms {
    display: none;
  }
  footer {
    background-color: rgb(238,238,238);
    margin-top: 1.5rem;
    border-top: none;
  }
}
